.group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 1900px;
}

.input {
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    width: 1000px;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #D9E8D8;
    color: #0d0c22;
    box-shadow: 0 0 5px #C1D9BF, 0 0 0 10px #f5f5f5eb;
    transition: .3s ease;
}

.input::placeholder {
    color: #777;
}

.icon {
    position: absolute;
    left: 1rem;
    fill: #777;
    width: 1rem;
    height: 1rem;
}

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.group {
    display: flex;
    align-items: center;
    position: relative;
}

.icon {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 10px;
    fill: #aaa;
}

.input {
    padding: 10px 10px 10px 35px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
}

.results {
    /* margin-top: 20px; */
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
}

.result-item {
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.result-item:last-child {
    border-bottom: none;
}

.result-item:hover {
    background-color: #f9f9f9;
    cursor: pointer;
}